.below-nav{
  padding-top: 5rem;
}

.vheight-100 {
  min-height: 100vh;
}

.list-group-item{
  background-color:transparent;
}

.list-group-item.active{
  background-color: steelblue;
  border-color: steelblue;
}


.login{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}