.below-nav{
  padding-top: 5rem;
}

.vheight-100 {
  min-height: 100vh;
}

.list-group-item{
  background-color:transparent;
}

.list-group-item.active{
  background-color: steelblue;
  border-color: steelblue;
}

.fixed-right-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1030;
  margin: 0 1.5rem 1.5rem 0;
  border-radius: 50%;
}

.question-border{
  border-style: groove;
  border-radius: 5px;
  border-color: lightslategray;
}

.title-border{
  border-style: dotted;
  border-radius: 5px;
  border-color: darkgray;
}


.login{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert{
  display: inline-block;
  margin-left: 1rem;  
}

.buttons{
  position: absolute;
  right: 5%;  
}